{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}MY DEFAULT TITLE{% endblock %}</title>
</head>
<body>
    <div class="container-flex">
        <div class="row">
            <div class="col-sm-3"></div>
                <div class="col-sm-6 border">
                    {% block header %}
                    {% endblock %}
                </div>
            <div class="col-sm-3"></div>
        </div>
        <div class="row">
            <div class="col-sm-3"></div>
                <div class="col-sm-6 border">
                    {% block content %}
                    {% endblock %}
                </div>
            <div class="col-sm-3"></div>
        </div>
        <div class="row">
            <div class="col-sm-3"></div>
                <div class="col-sm-6 border" style="text-align: center">
                    {% block footer %}
                        Project from Andrei, 2020
                    {% endblock %}
                </div>
            <div class="col-sm-3"></div>
        </div>
    </div>
</body>
</html>