{% extends "base.html" %}
{% load thumbnail %}
{% block title %} {{ photography.author }} {% endblock %}

{% block content %}
    <div class="row">
    <div class="col">
    {% thumbnail photography.photo '500x500' as image %}
       <p><img src="{{ image.url}}" width="{{ image.width }}" height="{{ image.height }}" alt="photo"></p>
    {% endthumbnail %}
    <p>{{ photography.description }}</p>
    <p>Photography published {{ photography.publish }}</p>
    </div>
    <div class="col">
    <p>
        {% with photography.comment.count as total_comments %}
            <h3> {{ total_comments }} comment{{ total_comments|pluralize }}</h3>
        {% endwith %}
        {% for comment in photography.comment.all %}
            {{ comment.body }}
            <p>Comment #{{ forloop.counter }} by {{ comment.name }} {{ comment.publish }}</p>
        {% endfor %}
        <form action="{% url 'instagram_profile:detail_photography' photography.pk %}" method="post">
            {{ comment_form.as_p }}
            {% csrf_token %}
            <input type="submit" value="Add comment">
        </form>
    </p>
    </div>
    </div>
    <p>
        <form action="{% url 'instagram_profile:delete_photography' photography.pk %}" method="post">
            {{ delete_photo.as_p }}
            {% csrf_token %}
            <input type="submit" value="Delete photography">
        </form>
    </p>
{% endblock %}