{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block header %}
    <a href="{% url "instagram_profile:registration" %}">Registration</a>
{% endblock %}

{% block content %}
    <h3>login</h3>
    {% if form.errors %}
        Bad password
    {% endif %}
    <form action="." method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        <input class="btn btn-outline-dark btn-sm" type="submit" value="Login">
    </form>
{% endblock %}