{% extends "base.html" %}
{% load thumbnail %}
{% block title %}Person profile{% endblock %}

{% block header %}
    {% if request.user.is_authenticated %}
        <p><a href="{% url "instagram_profile:edit_profile" %}">Edit profile</a></p>
        <p><a href="{% url 'instagram_profile:logout' %}">Logout</a></p>
        <p>name: {{ user.first_name }} {{ user.last_name }}</p>
        {% thumbnail user.profile.photo '100x100' as image %}
            <p><img src="{{ image.url }}" width="{{ image.width }}" height="{{ image.height }}" alt="photo"></p>
        {% endthumbnail %}
    {% else %}
        <a href="{% url 'instagram_profile:login' %}">Login</a>
    {% endif %}
    <br>
{% endblock %}
{% block content %}
    {% if request.user.is_authenticated %}
    {% for ph in all_photographs %}
        <p>
            <a href="{{ ph.get_absolute_url }}">
                {% thumbnail ph.photo '300x300' as image %}
                    <img src="{{ image.url}}" width="{{ image.width }}" height="{{ image.height }}" alt="photo">
                {% endthumbnail %}
            </a>
        </p>
    {% endfor %}
    <a href="{% url "instagram_profile:create_photography_form" %}"> Add photography</a>
    {% endif %}
{% endblock %}